<template>
  <div class="<%= data.name %>">
  </div>
</template>

<script setup>
// const props = defineProps({
//   // 示例：title: { type: String, default: '' }
// })

// const emit = defineEmits([
//   // 示例：'update:title'
// ])

// onMounted(() => {
//   // console.log('<%= data.name %> mounted')
// })
</script>

<style scoped>

</style>
