name: Node.js Package

on:
  release:
    types: [created] # 仅当创建 Release 时触发
  push:
    branches:
      - master         #仅当 push 到 master 分支时触发

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'
      - name: Set up Git user
        run: |
          git config --global user.name "yishao"
          git config --global user.email "547471919@qq.com"
      - name: Bump version (optional)
        run: npm version patch -m "chore: bump version to %s [skip ci]" # 自动更新版本号并添加 [skip ci]
      - name: Commit changes (if needed)
        run: |
          git push origin master
      - name: npm install
        run: npm install
      - name: Rollup build
        run: npm run build
     
      - name: Publish to npm
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
